@define-color fg_color rgba(255,255,255,1);
@define-color bg_color rgba(0,0,0,0.2);
@define-color borders_color rgba(0,0,0,0.5);
@define-color shadow_color rgba(0,0,0,0.6);
@define-color accent_color #FF2E88;

.keycap {
    min-width: 20px;
    min-height: 25px;
    margin-top: 2px;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-right: 6px;

    /* color: @fg_color; */
    background-color: @bg_color;
    border: 1px solid;
    border-radius: 5px;
    font-size: smaller;
    border-color: @borders_color;
    box-shadow: inset 0 -3px @shadow_color;
}

.section-title {
    color: @accent_color;
    margin-top: 26px;
}
