[tool.poetry]
name = "keyhint"
version = "0.2.1"
description = "Cheat-sheets for shortcuts & commands at your fingertips."
keywords = ["shortcuts", "keybindings", "hints", "helper", "cheatsheet"]
license = "MIT"
authors = ["dynobo <dynobo@mailbox.org>"]
readme = "README.md"
repository = "https://github.com/dynobo/keyhint"
classifiers = [
    "Development Status :: 4 - Beta",
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Topic :: Utilities",
    "Intended Audience :: End Users/Desktop",
    "Operating System :: POSIX :: Linux",
]

[tool.poetry.scripts]
keyhint = "keyhint.app:main"


[tool.poetry.dependencies]
python = "^3.8"
PyGObject = "^3.40.0"
PyYAML = "^5.4.1"


[tool.poetry.dev-dependencies]
briefcase = "^0.3.5"
pytest = "^5.2"
mypy = "^0.812"
isort = "^5.7.0"
pylint = "^2.7.2"
pydocstyle = "^6.0.0"
rope = "^0.18.0"
black = { version = "^20.8b1", allow-prereleases = true }
pytest-cov = "^2.11.1"
pre-commit = "^2.11.1"
coveralls = "^3.0.1"
bumpversion = "^0.6.0"


[tool.isort]
profile = "black"
multi_line_output = 3

[tool.pylint.master]
load-plugins = "pylint.extensions.mccabe"

[tool.pylint.'MESSAGES CONTROL']
disable = ['logging-fstring-interpolation']


[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"


[tool.briefcase]
project_name = "KeyHint"
bundle = "eu.dynobo.keyhint"
version = "0.2.1"
url = "https://github.com/dynobo/keyhint"
license = "MIT"
author = 'dynobo'
author_email = "dynobo@mailbox.org"


[tool.briefcase.app.keyhint]
formal_name = "KeyHint"
description = "Cheat-sheets for shortcuts & commands at your fingertips."
icon = "src/keyhint/resources/keyhint"
installer_icon = "src/keyhint/resources/keyhint"
sources = ['src/keyhint']
requires = ['PyGObject', 'PyYAML']


[tool.briefcase.app.keyhint.macOS]
requires = []


[tool.briefcase.app.keyhint.linux]
requires = []
system_requires = ['libgirepository1.0-dev', 'libcairo2-dev', 'python3-gi']


[tool.briefcase.app.keyhint.windows]
requires = []
