
-r requirements-prod.txt
# Tests
pytest
pytest-cov
pre-commit
tox

# Linters
mypy
pylint
pyflakes
pydocstyle
eradicate
radon
pylama

# Autoformat
black
isort

# Refactor
rope 
bumpversion

# Publish
twine