.key {
    font-size: 100%;
    border: 1px solid rgb(43,46,57);
    border-radius: 2.5px;
    padding: 3px 6px 4px 6px;
    background-color: rgba(120,120,120, 0.2);
    box-shadow: 0 -2px rgba(0,0,0,0.15) inset;
    margin: 0px 2px;
    min-height: 20px;
    min-width: 16px;
}
.separator {
    margin: 0px 2px;
    opacity: 0.4;
    font-size: 90%;
}
.section-title {
    margin-top: 2em;
}