.key {
    font-family: monospace;
    font-size: 100%;
    font-weight: bold;
    border: 1px solid rgba(120,120,120, 0.5);
    border-radius: 7px;
    padding: 1px 7px;
    background-color: rgba(120,120,120, 0.2);
    /*min-height: 1.6rem;*/
}

.section-title {
    font-size: 110%;
}
/*
.key.symbol {
    padding: 0px 7px;
    font-size: 80%;
}
*/